
<style>
    
    #contComentario {
        border-radius: 17px;
        background: #E9DEB3;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    #container_like {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #container_like button,
    #container_like p {
        margin: 1px;
    }
    #btn_dropdown {
        background: none;
        border: none;
    }

    #btn_dropdown .dropdown-toggle::after {
        display: none;
    }
    .dropdown-item {
        margin-top: 5px;
    }
    .dropdown-item:hover {
        cursor: pointer;

    }
    #replica {
        border-radius: 17px;
        background: #9FC5EB;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        margin-left: 10%;
        width: 80%;
    }

</style>
<script>
    function abrirModalComentario(idModal) {
        // Ocultar las modales anteriores (si las hay)
        $(".modal").modal("hide");

        // Mostrar la modal actual
        $("#" + idModal).modal("show");
    }

    function cerrarModalComentario(idModal) {
        // Ocultar la modal actual
        $("#" + idModal).modal("hide");
    }

    function abrirModalAgregarReplica(idModal) {
        // Ocultar las modales anteriores (si las hay)
        $(".modal").modal("hide");

        // Mostrar la modal actual
        $("#" + idModal).modal("show");
    }

    function cerrarAgregarReplica(idModal) {
        // Ocultar la modal actual
        $("#" + idModal).modal("hide");
    }

    function abrirModalReplica(forloopCounter) {
        // Ocultar las modales anteriores (si las hay)
        $(".modal").modal("hide");

        // Mostrar la modal actual
        $("#modalEditarReplica" + forloopCounter).modal("show");
    }
        function cerrarModalReplica(replica) {
        // Ocultar la modal actual
        $("#" + replica).modal("hide");
    }
</script>
{% for comentario, nombre,url_img_perfil, id_comentario in comentarios %}
<div class="container">
    <div style="height: 5%;"></div>

    <div class="row">

        <div class="col-md-10">

            <div id="contComentario" class="container">
                <div class="row">
                    <div class="col-md-2 d-flex align-items-center">

                        <img class="border rounded-circle border-1 border-dark"
                            style="border-radius: 50%; width: 50%; height: 70px;" src='{{ url_img_perfil }}'>
                    </div>
                    <div class="col-md-6">
                        <h2 class="text-start"> <b>{{ nombre }}</b></h2>
                        {% with valor=200 %}
                        {% if comentario.comentario|length > valor %}
                        <p >{{ comentario.comentario|truncatechars:valor }}</p>
                        <button onclick="mostrarTexto()">Mostrar más</button>
                        <script>
                            function mostrarTexto() {
                                var textoComentario = document.getElementById("texto_comentario");
                                var botonTextComent = document.getElementById("boton_text_coment");
                                if (textoComentario.innerHTML === "{{ comentario.comentario }}") {
                                    textoComentario.innerHTML =
                                        "{{ comentario.comentario|truncatechars:valor }}";
                                    botonTextComent.innerHTML = "Mostrar más";
                                } else {
                                    textoComentario.innerHTML = "{{ comentario.comentario }}";
                                    botonTextComent.innerHTML = "Mostrar menos";
                                }
                            }
                        </script>
                        {% else %}
                        <p>{{ comentario.comentario }}</p>
                        {% endif %}
                        {% endwith %}

                    </div>
                    <div class="col-md-2 d-flex align-items-center justify-content-end">

                        <!-- Espacio entre los botones -->
                        <form method="POST"
                            action="{% url 'incrementar_likes' usuario_id=usuario_id comentario_id=id_comentario %}">
                            {% csrf_token %}
                            <div class="container" id="container_like">
                                <button type="submit" class="btn btn-sm p-0" style="font-size: 2rem;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        style="color: red;" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                                    </svg>
                                </button>
                                <p>{{ comentario.likes|length }}</p>
                            </div>
                        </form>


                    </div>
                    <div class="col-md-1">
                        <div class="btn-group dropup d-flex align-items-center" style="height: 100%;">
                            <button id="btn_dropdown" type="button" class="btn-svg" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                    style="color:black; width: 25px; height: 25px; " class="bi bi-three-dots-vertical"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                </svg>
                            </button>
                            
                            <ul class="dropdown-menu">
                                <!-- Enlaces del menú desplegable -->
                                <li>
                                    <a class="dropdown-item"
                                        onclick="abrirModalAgregarReplica('modalAgregarReplica{{ id_comentario }}')">Responder</a>
                                </li>
                                {% if usuario_id == comentario.id_reda_Comet %}
                                <li>
                                    <a class="dropdown-item"
                                        onclick="abrirModalComentario('modalEditarComentario{{ id_comentario }}')">Editar</a>
                                </li>
                                <li>
                                    <form method="POST"
                                        action="{% url 'borrar_comentario' usuario_id=usuario_id comentario_id=id_comentario %}">
                                        {% csrf_token %}
                                        <a class="dropdown-item">
                                            <button type="submit" class="btn btn-sm p-0">Eliminar</button>
                                        </a>
                                    </form>
                                </li>
                                {% endif %}
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <br>
    

    <div id="replicas_realizadas">
        {% for replica in comentario.id_replicas %}
        <div id="replica" class="container">
            
            <div class="row">
                <div class="col-md-2 d-flex align-items-center">
                    <img class="border rounded-circle border-1 border-dark"
                        style="border-radius: 50%; width: 50%; height: 50%;" src="{{ replica.url_imagen_perfil }}">
                </div>
                <div class="col-md-6">

                    <h7 style="margin-top: 10%;margin-left: 4%; "><b>{{replica.nombreRedactor}}</b> </h7>


                    {% with valor=200 %}
                    {% if replica.contenidoReplica|length > valor %}
                    <p id="texto_comentario_replica">{{ replica.contenidoReplica|truncatechars:valor }} </p>
                    <button id="boton_text_coment_replica" onclick="mostrarTextoReplica()">Mostrar más</button>
                    <script>
                        function mostrarTextoReplica() {
                            var textoComentario_replica = document.getElementById("texto_comentario_replica");
                            var botonTextComent_replica = document.getElementById("boton_text_coment_replica");
                            if (textoComentario_replica.innerHTML === "{{ replica.contenidoReplica }}") {
                                textoComentario_replica.innerHTML =
                                    "{{ replica.contenidoReplica|truncatechars:valor }}";
                                botonTextComent_replica.innerHTML = "Mostrar más";
                            } else {
                                textoComentario_replica.innerHTML = "{{ replica.contenidoReplica }}";
                                botonTextComent_replica.innerHTML = "Mostrar menos";
                            }
                        }
                    </script>
                    {% else %}
                    <p>{{ replica.contenidoReplica }}</p>
                    {% endif %}
                    {% endwith %}
               </div>
                <div class="col-md-2 d-flex align-items-center justify-content-center ">
                    <form method="POST"
                        action="{% url 'incrementar_likes' usuario_id=usuario_id comentario_id=id_comentario %}">
                        {% csrf_token %}
                        <div class="container" id="container_like">
                            <button type="submit" class="btn btn-sm p-0" style="font-size: 2rem;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    style="color: red;" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                                </svg>
                            </button>
                            <p>{{ replica.likes|length }}</p>
                        </div>
                    </form>
                </div>
                <div class="col-md-1">
                    <div class="btn-group dropup d-flex align-items-center" style="height: 100%;">
                        <button id="btn_dropdown" type="button" class="btn-svg" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                style="color:black; width: 25px; height: 25px; " class="bi bi-three-dots-vertical"
                                viewBox="0 0 16 16">
                                <path
                                    d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                            </svg>
                        </button>
                        
                        <ul class="dropdown-menu">
                            <!-- Enlaces del menú desplegable -->
                            <li>
                                <a class="dropdown-item"
                                    onclick="abrirModalAgregarReplica('modalAgregarReplica{{ id_comentario }}')">Responder</a>


                            </li>

                            {% if usuario_id == replica.idRedactorReplica %}
                            <li>

                                <a class="dropdown-item" onclick="abrirModalReplica('{{ forloop.counter }}')">Editar</a>


                            </li>
                            <li>
                                <form method="POST"
                                    action="{% url 'borrar_comentario' usuario_id=usuario_id comentario_id=id_comentario %}">
                                    {% csrf_token %}
                                    <a class="dropdown-item">
                                        <button type="submit" class="btn btn-sm p-0">Eliminar</button>
                                    </a>
                                </form>
                            </li>
                            {% endif %}
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <br>
        {% endfor %}
    </div>
</div>
<br>
<!-- Ventana Modal Agregar Replica -->
<div class="modal fade" id="modalAgregarReplica{{ id_comentario }}">
    <!-- Contenido de la ventana modal -->
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAgregarComentarioLabel">Agregar replica </h5>
                <button type="button" class="btn-close"
                    onclick="cerrarAgregarReplica('modalAgregarReplica{{ id_comentario }}')"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Formulario para editar el comentario -->
                <form method="POST"
                    action="{% url 'agregar_replica' usuario_id=usuario_id comentario_id=id_comentario %}">
                    {% csrf_token %}
                    <input name="replica" style="width: 90%;" placeholder="Escribe algo">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Ventana Modal Editar Comentario-->
<div class="modal fade" id="modalEditarComentario{{ id_comentario }}">
    <!-- Contenido de la ventana modal -->
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAgregarComentarioLabel">Editar Comentario</h5>
                <button type="button" class="btn-close"
                    onclick="cerrarModalComentario('modalEditarComentario{{ id_comentario }}')"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Formulario para editar el comentario -->
                <form method="POST"
                    action="{% url 'editar_comentario' usuario_id=usuario_id comentario_id=id_comentario %}">
                    {% csrf_token %}
                    <input type="text" name="comentario" value="{{ comentario.comentario }}"
                        placeholder="Editar Comentario">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Ventana Modal Editar Replica-->
<div class="modal fade" id="modalEditarReplica{{ posicion }}">
    <!-- Contenido de la ventana modal -->
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAgregarComentarioLabel">Editar Replica</h5>
                <button type="button" class="btn-close"
                    onclick="cerrarModalReplica('modalEditarReplica{{ posicion }}')" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Formulario para editar el comentario -->
            
                <p> {{posicion}}</p>
                <p>{{comentario.id_replicas}}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
