<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<style>
    #contComentario {
        padding-top: 20px;
        border-radius: 17px;
        background: #E9DEB3;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    #container_like {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #container_like button,
    #container_like p {
        margin: 1px;
    }

    #btn_dropdown {
        background: none;
        border: none;
    }

    #btn_dropdown .dropdown-toggle::after {
        display: none;
    }

    .dropdown-item {
        margin-top: 5px;
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;
    }

    .dropdown-item:hover {
        cursor: pointer;
        background-color: transparent;

    }

    #replica {
        border-radius: 17px;
        background: #9FC5EB;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding-top: 10px;
        padding-bottom: 5px;
        padding-left: 30px;
        margin-left: 70px;

        width: 80%;
    }

    #verReplica {
        border-radius: 15px;
        padding: 10px;
        margin: 10px;
        background-color: #e5cadd;
    }

    .controlVisual {
        background-color: transparent;
    }

    #boton_text_replica,
    #boton_text_coment {
        background-color: transparent;
        border-radius: 50px;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(10px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .dropdown-menu {
        opacity: 0;
        animation: fadeIn 0.5s forwards;
    }

    .tooltip-inner {
        background-color: #ffffff;
        /* Color de fondo del tooltip */
        color: #333333;
        /* Color del texto del tooltip */
    }
</style>
<script>
    function abrirModalComentario(idModal) {
        // Ocultar las modales anteriores (si las hay)
        $(".modal").modal("hide");

        // Mostrar la modal actual
        $("#" + idModal).modal("show");
    }

    function cerrarModalComentario(idModal) {
        // Ocultar la modal actual
        $("#" + idModal).modal("hide");
    }

    function abrirModalAgregarReplica(idModal) {
        // Ocultar las modales anteriores (si las hay)
        $(".modal").modal("hide");

        // Mostrar la modal actual
        $("#" + idModal).modal("show");
    }

    function cerrarAgregarReplica(idModal) {
        // Ocultar la modal actual
        $("#" + idModal).modal("hide");
    }

    function abrirModalReplica(forloopCounter) {
        // Ocultar las modales anteriores (si las hay)
        $(".modal").modal("hide");

        // Mostrar la modal actual
        $("#modalEditarReplica" + forloopCounter).modal("show");
    }

    function cerrarModalReplica(replica) {
        // Ocultar la modal actual
        $("#" + replica).modal("hide");
    }

    function toggleReplicas(button) {
        var replicaContainer = button.nextElementSibling;
        if (replicaContainer.style.display === "none" || replicaContainer.style.display === "") {
            replicaContainer.style.display = "block";
            button.textContent = "Ocultar Réplicas";
        } else {
            replicaContainer.style.display = "none";
            button.textContent = "Mostrar Réplicas";
        }
    }


    function ocultarBotonMasReplica(idBoton, idBotonMenos, idTextoCompleto, idTextoResumido) {
        // Obtén una referencia al botón "Mostrar más" por su ID
        var botonMas = document.getElementById(idBoton);

        // Obtén una referencia al botón "Mostrar menos" correspondiente
        var botonMenos = document.getElementById(idBotonMenos);

        // Oculta el botón "Mostrar más" y muestra el botón "Mostrar menos"
        botonMas.style.display = "none";
        botonMenos.style.display = "block";

        // Muestra el texto completo y oculta el texto resumido
        document.getElementById(idTextoCompleto).style.display = "block";
        document.getElementById(idTextoResumido).style.display = "none";
    }

    function ocultarBotonMenosReplica(idBoton, idBotonMas, idTextoCompleto, idTextoResumido) {
        // Obtén una referencia al botón "Mostrar menos" por su ID
        var botonMenos = document.getElementById(idBoton);

        // Obtén una referencia al botón "Mostrar más" correspondiente
        var botonMas = document.getElementById(idBotonMas);

        // Oculta el botón "Mostrar menos" y muestra el botón "Mostrar más"
        botonMenos.style.display = "none";
        botonMas.style.display = "block";

        // Oculta el texto completo y muestra el texto resumido
        document.getElementById(idTextoCompleto).style.display = "none";
        document.getElementById(idTextoResumido).style.display = "block";
    }

    function toggleVerMensajeCompleto(button) {
        var comentarioContainer = button.previousElementSibling; // Obtén el elemento <p> con el comentario
        var comentario = comentarioContainer.getAttribute(
            'data-comentario'); // Obtiene el comentario completo desde el atributo personalizado
        var valor = parseInt(comentarioContainer.getAttribute(
            'data-truncate')); // Obtién el valor de truncatechars desde el atributo personalizado

        if (comentarioContainer.getAttribute('data-truncate')) {
            // Si el atributo 'data-truncate' existe, significa que se está utilizando truncatechars
            if (comentarioContainer.classList.contains('completo')) {
                // Si el comentario está completo, aplica truncatechars
                comentarioContainer.textContent = comentario.substring(0, valor) + '...';
                comentarioContainer.classList.remove('completo');
                button.textContent = 'Mostrar más';
            } else {
                // Si el comentario está truncado, muestra el comentario completo
                comentarioContainer.textContent = comentario;
                comentarioContainer.classList.add('completo');
                button.textContent = 'Mostrar menos';
            }
        } else {
            // Si no existe el atributo 'data-truncate', no se está utilizando truncatechars
            // En este caso, simplemente alternamos entre mostrar/ocultar el contenido completo
            if (comentarioContainer.classList.contains('completo')) {
                comentarioContainer.classList.remove('completo');
                button.textContent = 'Mostrar más';
            } else {
                comentarioContainer.classList.add('completo');
                button.textContent = 'Mostrar menos';
            }
        }
    }

    function toggleVerReplicaCompleto(button) {
        var replicaContainer = button.previousElementSibling; // Obtén el elemento <p> con el replica
        var replica = replicaContainer.getAttribute(
            'data-replica'); // Obtiene el replica completo desde el atributo personalizado
        var valor = parseInt(replicaContainer.getAttribute(
            'data-truncate')); // Obtién el valor de truncatechars desde el atributo personalizado

        if (replicaContainer.getAttribute('data-truncate')) {
            // Si el atributo 'data-truncate' existe, significa que se está utilizando truncatechars
            if (replicaContainer.classList.contains('completo')) {
                // Si el replica está completo, aplica truncatechars
                replicaContainer.textContent = replica.substring(0, valor) + '...';
                replicaContainer.classList.remove('completo');
                button.textContent = 'Mostrar más';
            } else {
                // Si el replica está truncado, muestra el replica completo
                replicaContainer.textContent = replica;
                replicaContainer.classList.add('completo');
                button.textContent = 'Mostrar menos';
            }
        } else {
            // Si no existe el atributo 'data-truncate', no se está utilizando truncatechars
            // En este caso, simplemente alternamos entre mostrar/ocultar el contenido completo
            if (replicaContainer.classList.contains('completo')) {
                replicaContainer.classList.remove('completo');
                button.textContent = 'Mostrar más';
            } else {
                replicaContainer.classList.add('completo');
                button.textContent = 'Mostrar menos';
            }
        }
    }
</script>

<div id="">
    <br><br>

    {% for comentario, nombre,url_img_perfil, id_comentario in comentarios %}
    <div class="container">


        <div style="height: 5%;"></div>

        <div class="row">

            <div class="col-md-10">
                <div class="container">
                    <div class="row" id="contComentario">
                        <div class="col-md-2 d-flex align-items-center">
                            <img class="border rounded-circle border-1 border-dark"
                                style="border-radius: 10px; max-width: 90%; max-height: 90%; width: auto; height: auto;"
                                src="{{ url_img_perfil }}">
                        </div>
                        <div class="col-md-6">
                            <h2 class="text-start"> <b>{{ nombre }}</b></h2>
                            {% with valor=200 %}
                            {% with contMensaje=comentario.comentario %}
                            {% if contMensaje|length > valor %}
                            <p id="texto_comentario" data-comentario="{{ contMensaje }}" data-truncate="{{ valor }}">
                                {{ contMensaje|truncatechars:valor }}</p>
                            <button id="boton_text_coment" onclick="toggleVerMensajeCompleto(this)">Mostrar más</button>
                            {% else %}
                            <p style="text-align: justify;">{{ contMensaje }}</p>
                            {% endif %}
                            {% endwith %}
                            {% endwith %}


                        </div>
                        <div class="col-md-2 d-flex align-items-center justify-content-end">
                            <!-- Espacio entre los botones -->
                            <form method="POST"
                                action="{% url 'incrementar_likes' usuario_id=usuario_id comentario_id=id_comentario %}">
                                {% csrf_token %}
                                <div class="container" id="container_like">
                                    {% if usuario_id_Object in comentario.likes %}
                                    <button type="submit" class="btn btn-sm p-0" style="font-size: 2rem;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" style="color: red;" class="bi bi-heart-fill"
                                            viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                                        </svg>
                                    </button>
                                    {% else %}
                                    <button type="submit" class="btn btn-sm p-0" style="font-size: 2rem;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" style="color: gray;" class="bi bi-heart-fill"
                                            viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                                        </svg>
                                    </button>
                                    {% endif %}

                                    <p>{{ comentario.likes|length }}</p>
                                </div>
                            </form>


                        </div>
                        <div class="col-md-1">
                            <div class="btn-group dropup d-flex align-items-center" style="height: 100%;">
                                <button id="btn_dropdown" type="button" class="btn-svg" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                        style="color:black; width: 25px; height: 25px; "
                                        class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                        <path
                                            d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                    </svg>
                                </button>

                                <ul class="dropdown-menu"
                                    style="background-color:transparent;border-color: transparent;box-shadow: none;">
                                    <!-- Enlaces del menú desplegable -->
                                    <li>
                                        <a class="dropdown-item"
                                            onclick="abrirModalAgregarReplica('modalAgregarReplica{{ id_comentario }}')">
                                            <button id="btnResponder" type="button"
                                                class="btn btn-success rounded-circle" title="Responder"
                                                data-bs-toggle="tooltip" data-bs-placement="top">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                    <path
                                                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                    <path fill-rule="evenodd"
                                                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                                </svg>
                                            </button>
                                        </a>


                                    </li>
                                    {% if usuario_id == comentario.id_reda_Comet %}
                                    <li>
                                        <a class="dropdown-item"
                                            onclick="abrirModalComentario('modalEditarComentario{{ id_comentario }}')">


                                            <button id="btnEditar" type="button" class="btn btn-info rounded-circle"
                                                title="Editar" data-bs-toggle="tooltip" data-bs-placement="top">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                                    <path
                                                        d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                                                </svg>
                                            </button>
                                        </a>
                                    </li>
                                    <li>
                                        <form method="POST"
                                            action="{% url 'borrar_comentario' usuario_id=usuario_id comentario_id=id_comentario %}">
                                            {% csrf_token %}
                                            <a class="dropdown-item">
                                                <button id="btnEliminar" type="submit"
                                                    class="btn btn-danger rounded-circle" title="Eliminar"
                                                    data-bs-toggle="tooltip" data-bs-placement="right">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="currentColor" class="bi bi-trash3-fill"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                                                    </svg>
                                                </button>
                                            </a>
                                        </form>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        <p style="text-align: right;padding-right: 50px;">
                            <b>{{comentario.fechaPublicacion|date:"d/m/Y H:i" }}</b></p>
                    </div>
                </div>
            </div>

        </div>
        <br>

        <div id="replicas_realizadas">

            {% if comentario.replicas|length > 0 %}
            <button onclick="toggleReplicas(this)" id="verReplica">Mostrar Réplicas</button>

            {% endif %}
            <div id="contReplica" style="display: none;">
                {% for replica in comentario.replicas %}

                 <div id="replica" class="container">
                    <div class="row">
                        <div class="col-md-2 d-flex align-items-center">
                            <img class="border rounded-circle border-1 border-dark"
                                style="border-radius: 10px; max-width: 70%; max-height: 70%; width: auto; height: auto;"
                                src="{{ replica.url_imagen_perfil }}">
                        </div>
                        <div class="col-md-6">

                            <h7 style="margin-top: 10%;margin-left: 4%; "><b>{{replica.nombreRedactor}}</b> </h7>


                            {% with valor=200 %}
                            {% with contMensajeReplica=replica.contenidoReplica %}
                            {% if contMensajeReplica|length > valor %}
                            <p id="texto_replica" data-replica="{{ contMensajeReplica }}" data-truncate="{{ valor }}">
                                {{ contMensajeReplica|truncatechars:valor }}</p>
                            <button id="boton_text_replica" onclick="toggleVerReplicaCompleto(this)">Mostrar
                                más</button>

                            {% else %}
                            <p style="text-align: justify;">{{ contMensajeReplica }}</p>
                            {% endif %}
                            {% endwith %}
                            {% endwith %}

                        </div>
                        <div class="col-md-2 d-flex align-items-center justify-content-center ">
                            <form method="POST"
                                action="{% url 'incrementar_likes_replica' usuario_id=usuario_id comentario_id=id_comentario pos=forloop.counter %}">
                                {% csrf_token %}
                                <div class="container" id="container_like">
                                    {% if usuario_id_Object in replica.likes %}
                                    <button type="submit" class="btn btn-sm p-0" style="font-size: 2rem;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" style="color: red;" class="bi bi-heart-fill"
                                            viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                                        </svg>
                                    </button>
                                    {% else %}
                                    <button type="submit" class="btn btn-sm p-0" style="font-size: 2rem;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" style="color: gray;" class="bi bi-heart-fill"
                                            viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                                        </svg>
                                    </button>
                                    {% endif %}


                                    <p>{{ replica.likes|length }}</p>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-1">
                            {% if usuario_id_Object == replica.idRedactorReplica %}
                                    
                            <div class="btn-group dropup d-flex align-items-center" style="height: 100%;">
                                <button id="btn_dropdown" type="button" class="btn-svg" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                        style="color:black; width: 25px; height: 25px; "
                                        class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                        <path
                                            d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                    </svg>
                                </button>

                                <ul class="dropdown-menu"
                                style="background-color:transparent;border-color: transparent;box-shadow: none;">
                                    <!-- Enlaces del menú desplegable -->
                                  

                                    <li>

                                  
                                            <a class="dropdown-item"
                                            onclick="abrirModalReplica('{{ forloop.counter }}')">


                                            <button id="btnEditar" type="button" class="btn btn-info rounded-circle"
                                                title="Editar" data-bs-toggle="tooltip" data-bs-placement="top">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                                    <path
                                                        d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                                                </svg>
                                            </button>
                                        </a>





                                    </li>
                                    <li>
                                        <form method="POST"
                                            action="{% url 'borrar_replica' usuario_id=usuario_id comentario_id=id_comentario pos=forloop.counter %}">
                                            {% csrf_token %}
                                            <a class="dropdown-item">
                                                <button id="btnEliminar" type="submit"
                                                    class="btn btn-danger rounded-circle" title="Eliminar"
                                                    data-bs-toggle="tooltip" data-bs-placement="right">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="currentColor" class="bi bi-trash3-fill"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                                                    </svg>
                                                </button>
                                            </a>
                                        </form>
                                    </li>
                                    
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                        <p style="text-align: right;padding-right: 50px;">
                            <b>{{replica.fechaPublicacion|date:"d/m/Y H:i" }}</b></p>
                    </div>
                </div>
                <br>
                {% endfor %}
            </div>

        </div>
    </div>
    <br>
    <!-- Ventana Modal Agregar Replica -->
    <div class="modal fade" id="modalAgregarReplica{{ id_comentario }}">
        <!-- Contenido de la ventana modal -->
        <div class="modal-dialog" style="height: 80px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalAgregarComentarioLabel">Agregar replica </h5>
                    <button type="button" class="btn-close"
                        onclick="cerrarAgregarReplica('modalAgregarReplica{{ id_comentario }}')"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body" style="text-align: center;">
                    <form method="POST"
                        action="{% url 'agregar_replica' usuario_id=usuario_id comentario_id=id_comentario %}">
                        {% csrf_token %}
                        <textarea name="replica" style="width: 90%; height: 150px; "
                            placeholder="Escribe algo"></textarea>
                        <br><br>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Ventana Modal Editar Comentario-->
    <div class="modal fade" id="modalEditarComentario{{ id_comentario }}">
        <!-- Contenido de la ventana modal -->
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalAgregarComentarioLabel">Editar Comentario</h5>
                    <button type="button" class="btn-close"
                        onclick="cerrarModalComentario('modalEditarComentario{{ id_comentario }}')"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body" style="text-align: center;">
                    <!-- Formulario para editar el comentario -->
                    <form method="POST"
                        action="{% url 'editar_comentario' usuario_id=usuario_id comentario_id=id_comentario %}">
                        {% csrf_token %}

                        <textarea name="comentario" value="{{ comentario.comentario }}"
                            style="width: 90%; height: 150px; "
                            placeholder="{{ comentario.comentario }}">{{comentario.comentario}}</textarea> <br><br>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Ventana Modal Editar Replica-->
    <div class="modal fade" id="modalEditarReplica{{ posicion }}">
        <!-- Contenido de la ventana modal -->
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalAgregarComentarioLabel">Editar Replica</h5>
                    <button type="button" class="btn-close"
                        onclick="cerrarModalReplica('modalEditarReplica{{ posicion }}')" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Formulario para editar el comentario -->


                    <p>{{comentario.id_replicas}}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <br>
    <br>
</div>