
.half-colored-heading {
    display: inline-block;
    background: linear-gradient(to right, #930E61 50%, black 50%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#custom-button {
    background: #960F62;
    width: 75%;
    height: auto;
    border-radius: 30px 0px 30px 0px;
}

#text_button {
    font-family: 'Open Sans';
    font-size: 1.9em;
    text-align: center;
    color: #FAC2E5;

}