.navbar-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

#main {
    margin-top: 50px;
    margin-bottom: 80px;
    margin-left: 150px;
}

#body {
    background: linear-gradient(180deg, #686381 0%, rgba(50, 16, 229, 0.40) 100%);
}

#botn_dropdown,
#btn-enviar {
    border-radius: 29px;
    background: #424050;
    height: 100%;
    width: 100%;
}

#btn_enviar2 {
    border-radius: 29px;
    background: #424050;
    height: 100%;
    width: 70%;
}

#container_like {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container_like button,
#container_like p {
    margin: 1px;
}

.mensaje {
    position: absolute;
    top: 0;
    left: 100%;
    white-space: nowrap;
    margin-left: 30px;
    display: none;
    background-color: #f9f9f9;
    padding: 5px;
    border: 1px solid #ccc;
}

.dropdown-item {
    margin-top: 5px;
}

.dropdown-item:hover {
    cursor: pointer;
}

.dropdown-item:hover .mensaje {
    display: block;
}

#cont_buscador_foro {
    width: 100%;
    height: 100%;
}

#cont_pregunta {
    border-radius: 17px;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    margin-left: auto;
}

#user_nombre_pregunta {
    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: 1%;
}

#user_pregunta {
    margin-left: 5%;
    margin-bottom: 2%;
}

#cont_respuesta {
    border-radius: 17px;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 60%;
}

#milly_nombre_respuesta {
    margin-top: 2%;
    margin-left: 3%;
}

#milly_respuesta {
    margin-left: 3%;
    margin-bottom: 2%;
}

#input_pregunta_foro,
#input_pregunta {
    border-radius: 15px;
    background: #424050;
    width: 100%;
    border-color: transparent;
    color: white;
}

#input_pregunta_foro::placeholder,
#input_pregunta::placeholder {
    color: white;
}

#contendor_no_hay_chat {
    display: grid;
    place-items: center;
}

#contenedor_footer {
    position: fixed;
    bottom: 0;
    background-color: transparent;
    margin-top: 1%;
    margin-bottom: 1%;
}


#cont_agregar_replica {

    margin-left: 5%;
    display: flex;
    align-items: center;
}

#openNavChats,
#openNav {

    width: 50px;
    height: 75px;
    border: none;
    background-color: #5900ff;
    color: white;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
    cursor: pointer;
}

#openNav_div {
    position: fixed;
}

#openNav:hover+.mensajeAbrirForo {
    display: block;
}

#openNav:hover {

    position: relative;

}

#openNavChats {
    position: fixed;
}

#openNavChats:hover+.mensajeAbrirChat {
    display: block;
}

#openNavChats:hover {

    position: relative;

}

.mensajeAbrirForo {
    position: absolute;
    top: 0;
    left: 100%;
    white-space: nowrap;
    margin-top: 45%;
    margin-left: 10px;
    display: none;
    padding: 5px;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-right: 20px;
    padding-left: 20px;
}

.mensajeAbrirChat {
    position: absolute;
    bottom: 0;
    left: 100%;
    white-space: nowrap;
    margin-bottom: 45%;
    margin-left: 10px;
    display: none;
    padding: 5px;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-right: 20px;
    padding-left: 20px;
}

#mySidebarChats,
#mySidebar {
    position: fixed;

}

#mySidebarChats {
    margin-top: 80px;
    border-top-right-radius: 20%;
    display: none;
    width: 25%;
    height: 100vh;
    overflow-y: scroll;
    z-index: 9999;
    background-color: #4da2d3;
}

#mySidebar {
    margin-top: 80px;
    border-top-right-radius: 25%;
    display: none;
    width: 45%;
    height: 100vh;
    overflow-y: scroll;
    z-index: 9999;
    background-color: #4da2d3;
    scrollbar-width: thin; /* Ancho del scroll */
    scrollbar-color: #ffffff #4da2d3; /* Color del scroll */
}

/* Personalización del scroll */
#mySidebarChats::-webkit-scrollbar, #mySidebar::-webkit-scrollbar {
    width: 8px;
}

#mySidebarChats::-webkit-scrollbar-thumb, #mySidebar::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}

#mySidebarChats::-webkit-scrollbar-track, #mySidebar::-webkit-scrollbar-track {
    margin-top: 140px;
    background-color: transparent;
}
#replica {
    border-radius: 17px;
    background: #9FC5EB;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 10%;
    width: 80%;
}

#contComentario {
    border-radius: 17px;
    background: #E9DEB3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#container_pregunta_foro {
    width: 50%;
    position: fixed;
    z-index: 999;
}

#ulti_footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 1%;
    background-color: transparent;

}

#ulti_footer .container {
    display: flex;
    justify-content: center;
    background-color: transparent;

    /* Horizontally center the content */
}

.oculto {
    display: none;
}

.spinner {
    border: 9px solid rgba(0, 0, 0, 0.1);
    border-left: 9px solid white;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    animation: spin 1s linear infinite;
    margin: auto;
    z-index: 9999;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#contCentrarSinChat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#btnCloseSide {
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    width: 100%;
    height: 10%;
    align-self: start;
}

#comentarios_foro {
    padding-top: 50px;
    width: 100%;
}

#btn_chats {
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 30px;
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;
}

#btn_chats:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#centered_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1000px;
    width: 100%;
    margin: 0;
    padding: 0;
}

#centered_list2 {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
}

#nav_link_chats {
    text-align: center;
    width: 80%;
}

#li_drop{
    padding-top: 8px;
}

#btn_nuevo_chat22{
    background-color: blue;
     
}

#btn_nuevo_chat:hover {
    cursor: pointer;
}

