{% load static %}
<link rel="stylesheet"  href="{% static '/css/navbar.css' %}">

<nav id="navBarContent" class="navbar navbar-light navbar-expand-md">
    <div class="container-fluid">
      <a class="navbar-brand" >
        <img id="logoNavbar"  src ="{% static '/images/logo_harmony.png'  %}">
        <h1 class="half-colored-heading">
          Harmony
        </h1>
      </a>
      
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="navbar-nav ms-auto" id="navbarItems">
          <li class="nav-item" >
            <a class="nav-link active"  id="navBarTitles">
              <span id="navBarNosotrosTitle">Chat</span><br></a>
          </li>
          
          
          <li class="nav-item">
            <a class="nav-link"  id="navBarTitles"><span>Foro</span><br>
            </a>
          </li>
          
          <li class="nav-item dropdown">
            <a id="navBarTitles" class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown"
              data-bs-auto-close="outside" [routerLink]="['body/soluciones']">Usuario</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" >Por riesgo</a>
              <a class="dropdown-item">Por solución</a>
              <a class="dropdown-item" >Por industria</a>
            </div>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
 