{% load static %}
<link rel="stylesheet" href="{% static '/css/navbar.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

<style>
  #logoNavbar {
      width: 20%;
      height: 15%;
  }

  #logoNavbar2 {
      width: auto;
      height: auto;
  }

  #navBarContent {
      background-color: #FAC2E5;
  }
  
  #bton_CerrarSesion {
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    background: #FF0000;
    border-radius: 0px 30px 0px 30px;
  }

  .dropdown-menu {
    position: relative;
    flex-direction: column;
    align-items: center;
  }
  .dropdown-item {
    text-align: center;
  }
 
  .navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-link {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5vw; /* El tamaño se ajustará según el ancho de la pantalla */
    display: flex;
    align-items: center;
  }
</style>
<nav id="navBarContent" class="navbar navbar-light navbar-expand-md">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img id="logoNavbar" src="{% static '/images/logo_harmony.png'  %}">
      <h1 class="half-colored-heading">
        Harmony
      </h1>
    </a>

    <div class="collapse navbar-collapse">

      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link active" >Chat</a>
        </li>
        <li style="text-align: center;  " class="nav-item">
          <a class="nav-link active" >Foro</a>
        </li>
        <li class="nav-item dropdown">
          <a class="dropdown-toggle nav-link" aria-expanded="false"
            data-bs-toggle="dropdown" >Usuarios 
            <img style="width: 20%;" src="{% static '/images/logo_harmony.png'  %}">

          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" >Usuario</a>
            <a class="dropdown-item" >Mi perfil</a>
            <a class="dropdown-item" >Mi actividad </a>
            <a class="dropdown-item" id="bton_CerrarSesion" >Cerrar sesion </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
